.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .desktop-menu{
        display: flex;
        flex-direction: row;
        list-style: none;

        .menu-item{
            margin: 0 1.5rem;

            &::after{
                display: block;
                content:"";
                height: 2px;
                width: 0;
                background-color: #fff;
                transition: 0.3s ease-in-out;
            }

            &:hover{
                &::after{
                    width: 100%;
                }
            }

            a{

                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }

    .mobile-btn{
        display: none;
    }
}