@import '../../breakpoints.scss';

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .desktop-menu{
        display: flex;
        flex-direction: row;
        list-style: none;

        @include media('<phone'){
            display: none;
        }

        @include media('>=phone', '<tablet'){
            display: none;

        }

        .menu-item{
            margin: 0 1.5rem;

            &::after{
                display: block;
                content:"";
                height: 2px;
                width: 0;
                background-color: #fff;
                transition: 0.3s ease-in-out;
            }

            &:hover{
                &::after{
                    width: 100%;
                }
            }

            a{

                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }

    .mobile-btn{
        display: none;
        background: #111111;
        border: 3.78947px solid #FFFFFF;
        box-shadow: none;
        font-size: 16px;
        line-height: 36px;
        color: #FFFFFF;
        font-family: 'Space Mono', monospace;
        padding: 0.3rem 0.7rem;
        cursor: pointer;
        transition: 0.2s;
        text-decoration: none;

        @include media('<phone'){
            display: block;
        }

        @include media('>=phone', '<tablet'){
            display: block;

        }

        &:hover{
          background: #FFFFFF;
          color: #111111;
        }
    }
}