@import './breakpoints.scss';

.homepage{
  background-image: url('./assets/png/Vector.png');
  background-position: left 300px;
  background-size: 30%;
  background-repeat: no-repeat;

  @include media('<phone'){
    background-size: 60%;

  }

  @include media('>=phone', '<tablet'){
    background-size: 60%;

  }

  header{
    padding: 1rem 2rem;
    .hero-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 1.5rem;

      .hero{
        padding: 2rem 0;

        .hero-text{
          max-width: 617px;
          margin-bottom: 4rem;
          .hero_pretitle{
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 47px;
            color: #FFFFFF;
            text-transform: uppercase;

            @include media('<phone'){
              font-size: 24px;
              line-height: 38px;
    
            }
    
            @include media('>=phone', '<tablet'){
              font-size: 28px;
              line-height: 40px;
            }
          }

          .hero_title{
            font-weight: bold;
            font-size: 84px;
            line-height: 124px;
            letter-spacing: 0.055em;
            color: #FFFFFF;
            margin: 0.5rem 0;

            @include media('<phone'){
              font-size: 40px;
              line-height: 60px;
    
            }
    
            @include media('>=phone', '<tablet'){
              font-size: 60px;
              line-height: 84px;
            }
          }

          .hero_subtitle{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.74);

            @include media('<phone'){
              font-size: 16px;
              line-height: 30px;
    
            }
    
            @include media('>=phone', '<tablet'){
              font-size: 18px;
              line-height: 30px;
            }
          }
        }

        .hero-btn{
          background: #111111;
          border: 3.78947px solid #FFFFFF;
          box-shadow: none;
          font-size: 18px;
          line-height: 36px;
          color: #FFFFFF;
          font-family: 'Space Mono', monospace;
          padding: 0.7rem 1.2rem;
          cursor: pointer;
          transition: 0.2s;
          text-decoration: none;

          &:hover{
            background: #FFFFFF;
            color: #111111;
          }
        }
      }

      .hero-art{
        min-width: 600px;
        // align-self: center;
        @include media('<phone'){
          display: none;

        }

        @include media('>=phone', '<custom-view-1'){
          display: none;
          
        }

        @include media('>=custom-view-1', '<desktop'){
          min-width: 500px;

        }

        .spline-watermark{
          display: none;
        }
      }
    }
  }

  main{
    // margin: 2rem 2.5rem;
    
    .rates-container{
      margin: 3rem 0;
      padding: 2rem 3.5rem;

      @include media('<phone'){
        padding: 2rem;

      }

      @include media('>=phone', '<tablet'){
        padding: 2rem 2.5rem;

      }

      .rates_title{
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 89px;
        color: #FFFFFF;

        @include media('<phone'){
          font-size: 36px;
          line-height: 60px;
  
        }
  
        @include media('>=phone', '<tablet'){
          font-size: 42px;
          line-height: 72px;
        }
      }

      .rates_source{
        font-size: 16px;
        color: #ffffff7a;

        @include media('<phone'){
          font-size: 14px;
  
        }
  
        @include media('>=phone', '<tablet'){
          font-size: 16px;

        }

        a{
          color: #ffffff7a;
        }
      }

      .rates{
        display: flex;
        flex-wrap: wrap;
        // align-content: center;
        justify-content: center;
        width: 100%;
        margin: 2rem 0;
      }
    }

    .conversion-container{
      background-image: url('./assets/png/dollars-bg.png'), url('./assets/png/crypto-bg.png');
      background-position: right bottom ,left 50% ;
      background-repeat: no-repeat, no-repeat;
      background-size: 8%, 15%;
      margin: 3rem 0;
      padding: 2rem 3.5rem;

      @include media('<phone'){
        padding: 2rem 1rem;
        background-size: 15%, 25%;

      }

      @include media('>=phone', '<tablet'){
        padding: 2rem;
        background-size: 15%, 25%;


      }

      .conversion-form-container{
        .conversion_title{
          font-style: normal;
          font-weight: normal;
          font-size: 60px;
          line-height: 89px;
          color: #FFFFFF;

          @include media('<phone'){
            font-size: 36px;
            line-height: 60px;
    
          }
    
          @include media('>=phone', '<tablet'){
            font-size: 42px;
            line-height: 72px;
          }
        }

        .conversion_subtitle{
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
          color: rgba(255, 255, 255, 0.74);

          @include media('<phone'){
            font-size: 16px;
            line-height: 20px;
    
          }
    
          @include media('>=phone', '<tablet'){
            font-size: 18px;
            line-height: 25px;
          }
        }

        .conversion-form{
          display: flex;
          flex-direction: row;
          margin: 3rem 0;

          @include media('<phone'){
            flex-direction: row;
            width: fit-content;
    
          }
    
          @include media('>=phone', '<custom-view'){
            flex-direction: row;
            width: fit-content;

          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }

          .eth-input-container{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            label{
              font-size: 30px;
              line-height: 59px;
              color: #FFFFFF;
              text-transform: uppercase;
              margin: 0 0.5rem;

              @include media('<phone'){
                font-size: 20px;

              }
        
              @include media('>=phone', '<custom-view'){
                font-size: 25px;

              }
            }

            .eth-input{
              background: rgba(0, 0, 0, 0.44);
              border: 3.79px solid #FFFFFF;
              padding: 1rem;
              color: #FFFFFF;
              font-size: 28px;

              @include media('<phone'){
                font-size: 18px;

              }
        
              @include media('>=phone', '<custom-view'){
                font-size: 22px;

              }
            }
          }

          .convert-btn{
            background: #111111;
            border: 3.78947px solid #FFFFFF;
            box-shadow: none;
            font-size: 18px;
            line-height: 36px;
            color: #FFFFFF;
            font-family: 'Space Mono', monospace;
            padding: 0.4rem 1rem;
            cursor: pointer;
            transition: 0.2s;
            margin: 0 1.5rem;

            @include media('<phone'){
              width: fit-content;
              margin: 1.5rem 0;

            }
      
            @include media('>=phone', '<custom-view'){
              width: fit-content;
              margin: 1.5rem 0;

            }
  
            &:hover{
              background: #FFFFFF;
              color: #111111;
            }
          }
        }
      }

      .conversion-results-container{


        .conversion-results-container_title{
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 53px;
          color: #FFFFFF;

          @include media('<phone'){
            font-size: 28px;
            line-height: 42px;

          }
    
          @include media('>=phone', '<tablet'){
            font-size: 32px;
            line-height: 48px;

          }
        }

        .conversion-results{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          align-items: center;
          margin: 1.5rem 0;

          .conversion-result{
            margin: 0 1rem;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 47px;
            color: #FFFFFF;

            @include media('<phone'){
              font-size: 20px;
              line-height: 38px;
              margin: 0.5rem;
  
            }
      
            @include media('>=phone', '<tablet'){
              font-size: 26px;
              line-height: 42px;
              margin: 0.5rem;
  
            }

            span{
              margin: 0 0.3rem;
              font-weight: bold;


              // &::after{
              //   content: "";
              //   display: inline-block;
              //   height: 2px;
              //   background-color: #FFFFFF;
              //   width: 100%;
              // }
            }

          }
        }
      }
    }
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    .made-by{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      font-style: normal;
      font-weight: normal;

      @include media('<phone'){
        font-size: 16px;
        line-height: 28px;

      }

      @include media('>=phone', '<tablet'){
        font-size: 18px;
        line-height: 30px;

      }

      span{
        margin: 0 0.4rem;
      }

      a{
        color: #FFFFFF;
        text-decoration: none;
      }

    }

    .copyrights{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: rgba(255, 255, 255, 0.52);

      @include media('<phone'){
        font-size: 16px;
        line-height: 28px;

      }

      @include media('>=phone', '<tablet'){
        font-size: 18px;
        line-height: 30px;

      }
    }
  }
}
